* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(60deg, blueviolet, lightblue);
}

.board {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
    border-bottom: none;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.circle):not(.x):hover::after,
.board.x .cell:not(.circle):not(.x):hover::before {
    content: "";
    width: calc(100px * 0.9);
    height: calc(100px * 0.2);
    background: black;
    position: absolute;
}

.cell.x::before,
.board.x .cell:hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after {
    transform: rotate(-45deg);
}

.board.x .cell:not(.circle):not(.x):hover::after,
.board.x .cell:not(.circle):not(.x):hover::before {
    background: whitesmoke;
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.circle):not(.x):hover::after,
.board.circle .cell:not(.circle):not(.x):hover::before {
    content: "";
    width: calc(100px * 0.8);
    height: calc(100px * 0.8);
    background: black;
    border-radius: 90px;
    position: absolute;
}

.board.circle .cell:not(.circle):not(.x):hover::after,
.board.circle .cell:not(.circle):not(.x):hover::before {
    background: whitesmoke;
}

.cell.x, .cell.circle {
    cursor: not-allowed;
}
